.services
	color colorL
	text-align center
	&__title
		font-size 24px
		line-height 28px 
		text-transform uppercase 
		color colorD
		margin-bottom 28px
		@extend .bold
	&__descr
		width 78%
		margin 0 auto 68px auto
	&-features
		display flex
		justify-content space-between
		flex-flow row wrap
		margin 0 auto 25px auto
	&__feature
		width 21%
		margin-bottom 50px
.feature
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	width 90%
	&__logo
		margin-bottom 15px
	&__title
		color colorD
		font-size 16px
		margin-bottom 10px
		@extend .bold
	&__descr
		font-size 14px
		width 210px
		margin 0 auto
		
// ipad portrait
@media (min-width: 768px) and (max-width: 1024px)		
	.services
		&-features
			display flex
			flex-flow row wrap
			justify-content space-between
			width 90% 
		&__feature
			width 28%
			&:nth-child(n+5) .feature__title 
				margin-bottom 28px
			&:nth-child(n+5) .feature__logo
					margin-bottom 18px 
				
			
	
// ipad land
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
	.services
		&-features
			max-width 95%


//----low tablet landscape
@media (min-width: 481px) and (max-width: 767px)
	.services
		&-features
			justify-content space-around 
		&__feature
			width 39%
			

			
//----phones
@media (min-width: 320px) and (max-width: 480px)
	.services
		&-features
			flex-direction column
		&__feature
			width 80%
			margin-left auto
			margin-right auto

		