// ipad portrait
@media (max-width 1024px)
	.nav
		justify-content space-between
		width 80%
		position relative
		&-menu
			display none
			position absolute
			z-index 12
			&--active
				width 200px
				height 300px
				top 59px
				left 80%
				display flex
				flex-direction column
				background-color rgba(colorD, 0.8)
				padding 20px 0
				obrder 2px solid mainColor
				& > *
					position relative
					z-index 12
		&__item
			width 100%
			margin auto 0 
		&__link
			text-align center
	.burger
		display flex
		justify-content space-around
		flex-flow column wrap
		size(40px, 40px)
		cursor pointer
		&__line
			transition all .5s
			display block
			position relative
			size(100%, 4px)
			background-color mainColor
			border-radius 4px
		&--active > *
			transition all .5s
			&:first-child
				transform rotate(45deg)
			&:last-child
				transform rotate(-45deg)
				margin-top -100%
			&:nth-child(even)
				display none