section.about
	.container
		.about-content
			h2.about__title About us
			p.about__descr SKOKOV is one of the world's leading management consulting firms. We care for our clients' business as our own, they know we're in this together
			.about__what
				.about__we-do
					h3.we-do__title What we do
					.underline
					p.we-do__descr When someone asks what we&nbsp;do&nbsp;SKOKOV, it&rsquo;s tempting to&nbsp;point out our four-decade track record for helping to&nbsp;transform the world&rsquo;s great companies into sharper, smarter, better versions of&nbsp;themselves. It&rsquo;s true, our mission is&nbsp;to help management teams create such high levels of&nbsp;economic value that together we&nbsp;redefine our respective industries. <br> We&nbsp;work with top executives to&nbsp;help them make better decisions, convert those decisions to&nbsp;actions, and deliver the sustainable success they desire. For forty years, we&rsquo;ve been passionate about achieving better results for our clients-results that go&nbsp;beyond financial and are uniquely tailored, pragmatic, holistic, and enduring. <br> We&nbsp;advise global leaders on&nbsp;their most critical issues and opportunities: strategy, marketing, organization, operations, technology, transformations and mergers &amp;&nbsp;acquisitions, across all industries and geographies. Our unique approach to&nbsp;traditional change management, called Results Delivery<sup class="reg">&reg;</sup>, helps clients measure and manage risk and overcome the odds to&nbsp;realize results.
				.about__clients
					h2.clients__title our clients
					.underline
					.clients-slider
						.clients-slider-item
							.clients-slider__inner
								img(src="static/img/content/clients/1.png" alt="client")
							.clients-slider__inner
								img(src="static/img/content/clients/2.png" alt="client")
							.clients-slider__inner
								img(src="static/img/content/clients/3.png" alt="client")
							.clients-slider__inner
								img(src="static/img/content/clients/4.png" alt="client")
							.clients-slider__inner
								img(src="static/img/content/clients/5.png" alt="client")
							.clients-slider__inner
								img(src="static/img/content/clients/6.png" alt="client")
			.about-our-team
				h3.our-team__title Our team
				.underline
				.our-team__block
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/0.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/10.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/2.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/3.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/4.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/5.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/6.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/7.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/8.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/9.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/10.png" alt="teammate").our-team__img
					a(href="#").our-team__img-wrap
						img(src="static/img/content/ourTeam/11.png" alt="teammate").our-team__img