footer.footer
	.container
		.footer-content
			.footer-copy &copy;&nbsp;2014&nbsp;SKOKOV&nbsp;&mdash; all rights reserved
			.footer-social
				.footer__in
					img(src="static/img/content/footer/in.png")
				.footer__fb
					img(src="static/img/content/footer/fb.png")
				.footer__tw
					img(src="static/img/content/footer/tw.png")
				.footer__yt
					img(src="static/img/content/footer/yt.png")