footer.footer
	.container
		.footer-content
			.footer-copy &copy;&nbsp;2014&nbsp;SKOKOV&nbsp;&mdash; all rights reserved
			.footer-social
				a(href="#").footer__in
					img(src="static/img/content/footer/in.png")
				span.footer__line
				a(href="#").footer__fb
					img(src="static/img/content/footer/fb.png")
				span.footer__line
				a(href="#").footer__tw
					img(src="static/img/content/footer/tw.png")
				span.footer__line
				a(href="#").footer__yt
					img(src="static/img/content/footer/yt.png")