header.header
	.container
		.header-content
			nav.nav
				a(href="#").nav__logo Skokov
				.burger
					span.burger__line
					span.burger__line
					span.burger__line
				ul.nav-menu
					li.nav__item: a(href="#").nav__link Home
					li.nav__item: a(href="#").nav__link Services
					li.nav__item: a(href="#").nav__link About us
					li.nav__item: a(href="#").nav__link News
					li.nav__item: a(href="#").nav__link Contact