section.hero
	.container
		.hero-content
			.hero-text
				h1.hero__title Global management consulting agency
				p.hero__descr Growth doesn't always go the way you expect. Our strategy consultants can help you climb.
				.hero-buttons
					a(href="#").hero__button Get started
					a(href="#").hero__button--learn Learn more
