section.news
	.container
		.news-content
			h2.news__title News
			p.news__descr Together, we&nbsp;find value across boundaries, develop insights to&nbsp;act&nbsp;on, and energize teams to&nbsp;sustain success. We&rsquo;re passionate about always doing the right thing for our clients, our people and our communities, even if&nbsp;it&nbsp;isn&rsquo;t easy.
			.news-blocks
				.news-left

					a(href="#").news-left__top
						.news-text.text-top
							h3.news-text__title Why financial institutions need a new IT model
							.underline
							p.news-text__descr Why old IT models are unlikely to deliver the competitive edge that banks, insurers and wealth management firms need from technology
							p.news-text__date 09.03.2014

					a(href="#").news-left__bottom
						.news-text.text-bottom
							h3.news-text__title Reimagining IT for an omnichannel world
							.underline
							p.news-text__descr The technology that powers retail is evolving rapidly. Retailers and their IT groups will have to rise to stay ahead.
							p.news-text__date 08.20.2014


				a(href="#").news-right
					.news-text.text-right
						h3.news-text__title Making the most of generation assets in turbulent times
						.underline
						p.news-text__descr A thorough review of a power generation portfolio informs decisions about how to reduce costs, raise revenues and make strategic plans.
						p.news-text__date 08.27.2014
