section.services
	.container
		.services-content
			h2.services__title our services
			p.services__descr Our management consulting services focus on our clients' most critical issues and opportunities. We have proven a multiplier effect from optimizing the sum of the parts, not just the individual pieces.
			.services-features

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-1.png")
					h3.feature__title Performance <br> Improvement
					.feature__underline
					p.feature__descr Enabling companies to grow revenue, improve margins and reposition quickly.

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-2.png")
					h3.feature__title Customer Strategy <br> &amp;&nbsp;Marketing
					.feature__underline
					p.feature__descr In-depth customer insights combined with economic and operational fundamentals

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-3.png")
					h3.feature__title Information <br> Technology
					.feature__underline
					p.feature__descr Realizing the full potential of IT resources, investments and assets

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-4.png")
					h3.feature__title Full Potential <br> Transformation
					.feature__underline
					p.feature__descr A cross-functional effort to alter the financial, operational and strategic trajectory of a business

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-5.png")
					h3.feature__title Strategy
					.feature__underline
					p.feature__descr Tailored solutions that deliver results and achieve sustained growth

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-6.png")
					h3.feature__title Private Equity
					.feature__underline
					p.feature__descr Advising investors across the entire investment life cycle

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-7.png")
					h3.feature__title Digital
					.feature__underline
					p.feature__descr Deliver on core strategy, delight customers and operate smarter and faster

				.services__feature
					.feature__logo
						img(src="static/img/content/services/service-8.png")
					h3.feature__title Results Delivery
					.feature__underline
					p.feature__descr Predicting, measuring and managing risk associated with change management