.hero
	padding-top 265px
	max-width 1600px
	height 900px
	margin 0 auto
	background url(../img/content/hero/hero__bg.png) 0 0 no-repeat
	position relative
	&:before
		content ''
		display block
		position absolute
		top 0
		left 0
		z-index 1
		size(100%, 100%)
		background-color rgba(#000, .6)
	&:after
		content url(../img/content/hero/hero__chart.png)
		position absolute
		bottom 0
		margin-bottom -5px
		z-index 1
		width 100%
	&-contern
		position relative
		z-index 6 
	&-buttons
		display flex
		justify-content space-between
		width 65%
	&__button
		@extend .button
		&--learn
			@extend .button
			background-color #343434
	&-text
		color #ffffff
		width 60%
		position relative
		z-index 4
	&__title
		margin-bottom 35px
		font-size 60px
		line-height 74px
		@extend .bold
	&__descr
		margin-bottom 40px
		font-size 20px
		line-height 28px 


// ipad portrait
@media (min-width: 768px) and (max-width: 1024px)
	.hero
		padding-top 140px
		&-text
			width 60%
			margin 0 auto
		&__title
			font-size 38px 
		&-buttons
			width 100%
			display flex
			justify-content space-around

// ipad landscape
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
	.hero
		padding-top 150px 
		&-text
			width 80%
			margin 0 auto
		&-buttons
			width 100%
			display flex
			justify-content space-around
		

		