// Шапка
@import 'header/header.styl'
@import 'header/headerIpadP.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "hero/hero.styl"

@import "services/services.styl"

@import "contact/contact.styl"
@import "contact/contactLaptop.styl"

@import "about/about.styl"

@import "video/video.styl"

@import "news/news.styl"

@import "feedback/feedback.styl"