@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

html
	font-size baseFontSize
	height 100%
	line-height 1.3

body
	font-family mainFont
	height 100%

h1,h2,h3,h4,h5,h6
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	color black
	text-decoration none

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select,
button
	outline none

*, *:before, *:after
	box-sizing border-box

.wrapper
	display flex
	flex-direction column
	height 100%

.content
	flex 1 0 auto
	
.container
	max-width 1200px
	margin 0 auto
	overflow hidden

// 	// desktop
// @media (min-width 1281px)
	
// 	// Laptop
// laptop()
// 	@media (min-width: 1025px) and (max-width: 1280px)

// 	// ipad portrait
// ipadP()
// 	@media (min-width: 768px) and (max-width: 1024px)

// 	// ipad landscape
// ipadL()
// 	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
// 	// low tablet landscape

// tableL()
// 	@media (min-width: 481px) and (max-width: 767px)

// 	// phones
// phone()
// 	@media (min-width: 320px) and (max-width: 480px)
	
	


//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
// Главная страница
@import 'pages/index/index.styl'