.button
	display block
	padding 20px 0 25px
	size(215px, 65px)
	border-radius 30px
	background-color mainColor
	color #ffffff
	font-size 20px
	text-align center
	&:hover
		cursor pointer
		background-color mainColor - 15% 
			