
@font-face
	font-family Verdana
	src url(../fonts/Verdana.eot)
	src url(../fonts/Verdana.ttf)
	src url(../fonts/Verdana.woff)
	font-weight normal
	font-style normal
	
@font-face
	font-family VerdanaBold
	src url(../fonts/Verdana-Bold.eot)
	src url(../fonts/Verdana-Bold.ttf)
	src url(../fonts/Verdana-Bold.woff)
	font-weight bold
	font-style normal