
@font-face
	font-family Verdana
	src url(../../fonts/Verdana.eot)
	font-weight normal
	font-style normal
	
@font-face
	font-family VerdanaBold
	src url(../../fonts/Verdana-Bold.eot)
	font-weight bold
	font-style normal