// ЦВЕТА
mainColor = #fe504f
colorD = #343434
colorL = #adadad
// РАЗМЕРЫ
baseFontSize = 16px

desktop = 1281px
laptopDesktop = 1025px
tabletPor = 768px
tabletLand = 1024px
lowTabletLand = 481px
phonePor = 320px
phoneLand = 480px


// ШРИФТЫ
mainFont = Verdana
