.news
	padding 75px 0 80px
	&__title
		@extend .title
	&__descr
		@extend .descr
		margin-bottom 75px
	
	&-blocks
		display flex
		justify-content space-between
		background-color mainColor
	&-left
		width 75%
		&__top
			display flex
			background-size cover
			background url(../img/content/news/top.png) 0 0 no-repeat
			justify-content flex-end
		&__bottom
			background-size cover
			background url(../img/content/news/bot.png) 100% 0 no-repeat
			display flex
			
			
	&-right 
		width 25%
		background url(../img/content/news/right.png) 0 0 no-repeat
		display flex
		align-items flex-end 

		
	&-text
		padding 29px
		size(300px, 300px)
		background-color colorD 
		display flex
		flex-direction column
		align-items space-between
		&__title
			@extend .red-title
		&__descr
			color #fff
			font-size 12px
			margin-bottom 30px
		&__date
			color mainColor
			font-size 12px
			font-style italic
			align-self flex-end
// .text
// 	&-top
// 	&-bottom
// 	&-right
// 		postion relative
// 		&:before
// 			content url(../img/content/arrow.png)
// 			display block
// 			postion absolute
// 			size(58px, 58px)
// 			top -500px
// ipad land
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
	.news
		&-blocks
			max-width 900px 
			flex-flow row wrap
		&-left
			width 100%
			
		&-right
			width 100%
			display flex
			flex-direction row

// ipad portrait
@media (min-width: 768px) and (max-width: 1024px)
	.news
		&-blocks
			flex-flow row wrap
			max-width 900px
		&-left
			width 100%
		&-right
			width 100%
			display flex
			flex-direction row
	.text-right
		margin-left 300px
			
//----low tablet landscape
@media (min-width: 481px) and (max-width: 767px)
	.news
		&__descr
			width 80%
		&-blocks
			flex-flow row wrap
			width 300px
			margin 0 auto
			background none
		&-left
		&-right
			width 100%
			justify-content flex-end
		&-text
			background-color rgba(colorD, 0.89)
			margin-bottom 25px

	//----phones
@media (min-width: 320px) and (max-width: 480px)
	.news
		&-blocks
			flex-flow row wrap
			// max-width 900px
			width 300px
			margin 0 auto
			background none
		&-left
		&-right
			width 100%
			justify-content flex-end
		&-text
			background-color rgba(colorD, 0.89)
			margin-bottom 15px