.about
	padding-top 70px
	&__title
		@extend .title
	&__descr
		@extend .descr
		width 70%
		margin-bottom 55px
	&__what
		display flex
		justify-content space-between
		margin-bottom 50px
	
	&__we-do
		width 50%
	&__clients
		width 47%
.we-do
	&__title
		@extend .red-title
	&__descr
		padding-right 60px
		color colorD
		font-size 14px
		line-height 24px
		widht 100%
		
.clients
	&__title
		@extend .red-title
	&-slider
		&-item
			display flex !important
			justify-content space-between
			flex-flow row wrap
			margin-right 10px
		&__inner
			max-width 185px
			max-height 185px
			margin-bottom 5px
			& > *
				max-width 185px 
			
.our-team
	&__title
		@extend .red-title
	&__block
		display flex
		flex-flow row wrap
		margin-bottom 80px
	&__slider-wrap
		display none





// something wrong
@media (min-width 1100px) and (max-width 1189px)
	.about
		&-our-team
			width 95%
			margin-left auto
			margin-right auto
		&__what
			justify-content space-around
		&__clients
			width 40%
	.clients-slider
		width 90%
		&__inner
			width 32%
			& > *
				width 100%
	.our-team
		&__block
			display none
			justify-content space-around
		&__img
			width 100%
			&-wrap
				width 15%
		&__slider-wrap
			display none
	




// ipad land
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
	.container
		width 90% 
	.about	
		&__clients
			width 42%
			&-slider__inner
				width 50%
				& > img
					width 100%
		&__what
			display flex
			justify-content space-between
		&-our-team
			margin-left auto
			margin-right auto 
.our-team
	&__block
		display flex
		justify-content space-between 
	&__img-wrap
		margin-bottom 20px
	&__slider-wrap
		display block






// ipad portrait
@media (min-width: 768px) and (max-width: 1024px)
	.about
		padding-top 40px
		&-content
			width 90%
			margin-left auto
			margin-right auto  
		&__clients
			width 40%
			&-slider__inner
				width 50%
				& > img
					width 100%
	.we-do
		&__descr
			padding 0
	.clients-slider
		&__inner
			width 48%
			& > img
				width 100% 
	.our-team
		&__block
			display none
		&__slider-wrap
			display block
		&__img-wrap
			max-width 200px
		




//----low tablet landscape
@media (min-width: 481px) and (max-width: 767px)
	.about
		&__what
			flex-direction column
		&__we-do
		&__clients
		&-our-team
			width 90%
			margin-right auto
			margin-left auto
			margin-bottom 30px
		&__clients
			&-slider__inner
				width 50%
				& > img
					width 100%
	.our-team
		&__block
			display none
			margin-right auto
			margin-left auto
		&__img
			width 100%
		&__img-wrap
			width 48%
		&__slider-wrap
			display block
		





//----phones
@media (min-width: 320px) and (max-width: 480px)
	.about
		&__what
			flex-direction column
		&__we-do
		&__clients
		&-our-team
			width 90%
			margin-right auto
			margin-left auto
			margin-bottom 30px
	.clients
		&-slider__inner
			width 50%
			& > img
				width 100%
	.we-do
		&__descr
			padding 0
	.our-team
		&__block
			display none
			margin-right auto
			margin-left auto
		&__img
			width 100%
		&__img-wrap
			width 48%
		&__slider-wrap
			display block
			
			 
