.footer
	background-color colorD
	color #ffffff
	&-content
		display flex
		justify-content space-between 
		align-items center
		height 101px
	&-social
		display flex
		justify-content space-between
		max-width 260px
		height 25px
	&__in
	&__fb
	&__tw
		padding 0 15px
		border-right 1px solid mainColor
	&__yt
		padding 0 15px