.feature__underline
	margin 0 auto 15px auto
	size(60px, 3px)
	background-color mainColor
.underline
	size(50px, 3px)
	background-color mainColor
	margin-bottom 25px
.title
	font-size 24px
	line-height 28px
	color colorD
	text-transform uppercase 
	text-align center
	@extend .bold
	margin-bottom 25px
.red-title
	font-size 20px
	@extend .bold
	color mainColor
	text-transform uppercase
	margin-bottom 8px
.descr
	color colorL
	font-size 16px
	line-height 24px
	text-align center
	margin 0 auto
	