.video
	max-width 1600px
	margin 0 auto 
	height 400px
	margin 0 auto
	position relative
	color #ffffff
	text-align center
	background url(../img/content/video-bg.png)
	overflow-x hidden
	&:before
		darkBg()
	// &:after
	// 	dotsBg()
	&-content
		position relative
		z-index 1
		margin 0 auto
		padding-top 89px
		width 85%
	&__title
		margin 0 auto 25px
		width 90%
		font-size 34px
		text-transform uppercase
		@extend .bold
.play-button
	display flex
	align-items center 
	justify-content center
	margin 0 auto
	size(92px, 92px)
	background-color mainColor
	position relative
	z-index 2
	border-radius 50%
	margin-bottom 30px
	transition all .5s 
	&:hover
		width 130px
		background-color #ff0000
		border-radius 15px
		transition all .5s 

// ipad landscape
@media (min-width: 768px) and (max-width: 1024px)
	.video-content
		padding-top 40px
		
//----low tablet landscape
@media (min-width: 481px) and (max-width: 767px)
	.video-content
		padding-top 40px
		
//----phones
@media (min-width: 320px) and (max-width: 480px)
	.video
		&-content
			padding-top 40px
		&__title
			font-size 1.1rem
	