.feedback
	background #343434 url(../img/content/footer/footer-bg.png) 0 0 no-repeat
	background-size cover 
	max-width 1600px
	margin-left auto
	margin-right auto
	padding-top 95px
	&:before
		darkBg()
	&-content
		display flex
		justify-content space-between
		position relative
		z-index 1 
		color #ffffff
	&-left
	&-right
		width 40%
	
	// left
	&__logo
		@extend .red-title
		font-size 32px
		margin-bottom 15px
		display block
	&__descr
		margin-bottom 20px
		font-size 14px
	&__underline
		margin-bottom 40px
	&-contacts
		display flex
		flex-direction column
		justify-content space-between
		height 120px
	&__img
		margin-right 14px
	&-address
		display flex
		align-items center
	&-call
		display flex
		align-items center
	&-mail
		display flex
		align-items center
		

	// Form
	&-form
		padding-right 55px
	&__title
		@extend .red-title
		font-size 24px
		margin-bottom 12px
	&__tip
		color #ffffff
		margin-bottom 35px
	&__input
		padding 0 17px
		width 100%
		// max-width 445px 
		// min-width 250px
		height 45px
		font-size 14px
		background none
		border 1px solid #aeaeae
		color #aeaeae
		margin-bottom 15px
	&__message
		@extend .feedback__input
		height 190px
		padding-top 10px
	&__button
		@extend .button
		border none
		margin-left auto
		margin-bottom 50px
		size(130px, 40px)
		font-size 16px
		padding-top 0
		padding-bottom 0


// something wrong
@media (min-width 1100px) and (max-width 1189px)
	.feedback
		&-content
			justify-content space-around
	// ipads portrait
@media (min-width: 768px) and (max-width: 1024px)
	.feedback
		&-content
			display flex
			flex-direction column
		&__title
			width 70%
			margin-left auto
			margin-right auto
			text-align center
		&__underline
			margin-right auto
			margin-left auto
		&__descr
			width 70%
		&-left
		&-right
			width 90%
			margin-left auto
			margin-right auto
			margin-bottom 35px
		&-form
			width 80%
			margin 0 auto
			padding 0
		&__message
			margin-bottom 30px
		&__button
			margin-right auto
			width 160px
			height 50px
			font-size 24px 
		&__tip
			margin-right auto
			margin-left auto
			width 80%


//----low tablet landscape
@media (min-width: 481px) and (max-width: 767px)
	.feedback
		&-content
			display flex
			flex-direction column
		&__title
			width 70%
			margin-left auto
			margin-right auto
			text-align center
		&__underline
			margin-right auto
			margin-left auto
		&__descr
			width 70%
		&-left
		&-right
			width 90%
			margin-left auto
			margin-right auto
			margin-bottom 35px
		&-form
			width 80%
			margin 0 auto
			padding 0
		&__message
			margin-bottom 30px
		&__button
			margin-right auto
			width 160px
			height 50px
			font-size 24px 
		&__tip
			margin-right auto
			margin-left auto
			width 80%

	//----phones 
@media (min-width: 320px) and (max-width: 480px)
	.feedback
		&-content
			display flex
			flex-direction column
		&-left
		&-right
			width 90%
			margin-left auto
			margin-right auto
			margin-bottom 35px
		&-form
			padding 0
		&__message
			margin-bottom 30px
		&__button
			margin-right auto
			width 160px