.contact
	size(1600px, 400px)
	margin 0 auto
	background #413f3e url(../img/content/contact-us-bg.png) 0 0 no-repeat
	position relative
	&:before
		content ''
		display block
		size(100%, 100%)
		position absolute
		top 0
		left 0
		z-index 1 
		background-color rgba(#413f3e, .7)
	&:after
		content url(../img/content/dots.png)
		display block
		size(100%, 100%)
		position absolute
		top 0
		left 0
		z-index 3
	&-content
		text-align center
		position relative
		z-index 4
		padding 105px 0 0 0
	&__title
		color #ffffff
		text-transform uppercase 
		font-size 34px
		line-height 58px
		@extend .bold
		margin-bottom 40px
	&__button
		margin 0 auto 
		cursor pointer